
 .group-item {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }   
}

.card {

    .card-body {

        .cardbtn {
            float: right;

            .cardbtn-item {
                color: $gray-light-custom;
                padding: 10px;
               

                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
