{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
<br /><br /><br />

<section class="bg-gray-light" id="mygroups">
  <div class="container">
    <h2 class="text-center">Explore Categories</h2>
    <hr class="star-primary">
    
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
          <img class="img-fluid" src="{% static 'img/portfolio/cabin.png' %}" alt="">
        </a>
      </div>
      
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
          <img class="img-fluid" src="{% static 'img/portfolio/cake.png' %}" alt="">
        </a>
      </div>
      
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
          <img class="img-fluid" src="{% static 'img/portfolio/circus.png' %}" alt="">
        </a>
      </div>
                     
    </div>
  </div>

</section>    
   

{% endblock %}   