{% extends 'core/base.html' %} {% load staticfiles %} {% load activity_tags %} {% block content %}
<br />
<br />
<br />
<br />
<br />

<section class="bg-gray-light">
    <div class="container">

        <h2 class="text-center">
            <span class="badge badge-info">Favorites</span>
        </h2>
        <br />

        </h2>
        <hr class="primary">
        <br />
        <br />


        <div class="row">
            <div class="col-md-12">
                {% for post in posts %} 
                {% include 'core/post_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}