{% extends 'core/base.html' %} {% load staticfiles %} {% load activity_tags %} {% block content %}
<section id="buttons">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-8 mx-auto text-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="Actions">
          <a href="{% url 'create-group' %}" class="btn btn-primary">  <i class="fa fa-plus" aria-hidden="true"></i> Group</a>
          <a href="{% url 'create-post' %}" class="btn btn-secondary">  <i class="fa fa-pencil" aria-hidden="true"></i> Post</a>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="bg-gray-light">
  <div class="container">


      <div class="row">
          {% for action in actions %}
    
          <!-- Always Display notifications related to the groups.
            However for 'posts' display only the articles that users follow.  -->
          {% if action.verb != 'published' or action.verb == 'published' and request.user|is_following:action.action_object.group_ref == True %}   

          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
    
                <strong>

                  <i class="fa fa-user" aria-hidden="true"></i> {{action.actor}} </strong> {{action.verb}}
                 
                  <!-- If object exists 
                    1. create the custom url: expand-group or expand-post 
                    2. display the object -->
                  {% if action.action_object %}  
                    {% with "expand-"|add:action.action_object_content_type.name as custom_url %}
                    
                      <a href="{% url custom_url pk=action.action_object.pk  %}">
                        {{action.action_object}} 
                      </a> 

                      {{ action.action_object_content_type.name }}
                      on 
                    {% endwith %}  
                  {% endif %}
                  
                 <!-- If target exists 
                    1. create the custom url: expand-group or expand-post 
                    2. display the target -->
                  {% if action.target %}  
                    {% with "expand-"|add:action.target_content_type.name as custom_url %}
                    
                      <a href="{% url custom_url pk=action.target.pk  %}">
                        {{action.target}}
                      </a> 

                      {{ action.target_content_type.name }}

                    {% endwith %} 
                  {% endif %}  

                 
                <small> - {{action.timesince }} </small>
                <br />
                <br />
                <p>
                  <em>  {% if action.target %}
                            " {{action.target.description}} "
                        {% else %}
                            " {{action.object.text}} "
                        {% endif %}
                  </em>
                </p>
    
              </div>
            </div>
            <br />
          </div>
    
          {% endif %}   
          {% endfor %}
    
        </div>
    


  </div>
</section>

<section id="popular">
  <div class="container">
    <h2 class="text-center">Recent Groups</h2>
    <hr class="primary">
    <div class="row">

      {% for group in groups %}
      <div class="col-sm-6 group-item">
        <div class="card card-inverse">
          <img class="card-img" src="{{ group.image.url }}" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">{{ group.title }}</h4>
            <p class="card-text">
              <i>{{ group.description }}</i>
            </p>
            <p class="card-text">
              <small class="text-muted">Admin: {{group.admin.username }} </small>
            </p>
            <p class="card-text">
              {% if group.is_user_member == True %}
              <a href="#" class="btn btn-secondary">Following</a>
              {% else %}
              <a href="#" class="btn btn-primary">Follow</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}



    </div>
  </div>
</section>

{% endblock %}