{% extends 'core/base.html' %} {% load staticfiles %} {% block content %}
<br />
<br />
<br />
<br />
<br />

<section class="bg-gray-light" id="portfolio">
  <div class="container">
    <h2 class="text-center">Notifications</h2>
    <hr class="primary">
    <div class="row">
      {% for action in actions %}

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body"> 
            <!-- {{ action.target_content_type }} -->

            <strong> <i class="fa fa-user" aria-hidden="true"></i> {{action.actor}} </strong> {{action.verb}} 
            <a href="{% url 'expand-group' pk=action.target.pk  %}"> <u>{{action.target}}</u> </a>
              <!-- {% if action.target_content_type == "group" %}
                <a href="{% url 'expand-group' pk=action.target.pk  %}"> <u>{{action.target}}</u> </a>
              {% endif %} -->
            <small> - {{action.timesince }} </small>
            <br /><br />
            <p>
             <em>" {{action.target.description}} "</em>
            </p>

          </div>
        </div>
        <br />
      </div>

      {% endfor %}

    </div>


  </div>
</section>


{% endblock %}