<div class="card">
        <div class="card-body">
            <div class="cardbtn">
               {% if post.author == request.user %} 
                <a href="{% url 'edit-post' pk=post.pk %}" class="cardbtn-item"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'delete-post' pk=post.pk %}" class="cardbtn-item"><i class="fa fa-trash"></i></a>
               {% endif %} 
                <span class="cardbtn-item"><i class="fa fa-heart"></i></span>
                
             
                
            </div>
            <h4 class="card-title"><a href="{% url 'expand-post' pk=post.pk %}"> {{ post.title }} </a></h4>
            <p class="card-text"> {{ post.text }}</p>
        </div>
        <div class="card-footer text-muted">
            <p style="float: left"><i class="fa fa-user-circle"></i> {{ post.author }}</p>
            <p style="float: right"><small><i class="fa fa-calendar"></i> {{ post.published_date }}</small></p>
        </div>
    </div>