{% load activity_tags %}

<!-- this conidtion is needed for favorites view -->
{% if request.user|is_following:post.group_ref %}

<div class="card">
        <div class="card-body">
            <div class="cardbtn">
               {% if post.author == request.user %} 
                <a href="{% url 'edit-post' pk=post.pk %}" class="cardbtn-item"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'delete-post' pk=post.pk %}" class="cardbtn-item"><i class="fa fa-trash"></i></a>
               {% endif %} 
               {% if request.user|is_following:post %}
                    <a href="{% url 'favorite' pk=post.pk action=0 %}" class="cardbtn-item-sel"><i class="fa fa-heart"></i></a>
                {% else %}
                    <a href="{% url 'favorite' pk=post.pk action=1 %}" class="cardbtn-item"><i class="fa fa-heart"></i></a>
                {% endif %}
               
             
                
            </div>
            <h4 class="card-title"><a href="{% url 'expand-post' pk=post.pk %}"> {{ post.title }} </a></h4>
            <p class="card-text"> {{ post.text }}</p>
        </div>
        <div class="card-footer text-muted">
            <p style="float: left"><i class="fa fa-user-circle"></i> {{ post.author }}</p>
            <p style="float: right"><small><i class="fa fa-calendar"></i> {{ post.published_date }}</small></p>
        </div>
    </div>

    <hr class="primary">

{% endif %}