{% extends 'core/base.html' %} {% load staticfiles %} {% block content %}
<br />
<br />
<br />
<br />
<br />

<section class="bg-gray-light">
    <div class="container">

        <div class="row">

            {% if post %}
            <div class="btn-group btn-group-lg" role="group" aria-label="Actions">
                <a href="{% url 'expand-group' pk=post.group_ref.pk %}" class="btn btn-info">  <i class="fa fa-angle-left"></i></a>
            </div> 
            
           </div>
           <br /><br />
            <div class="row">

                {% include 'core/post_card.html' %}
                
                <hr class="primary">

            {% else %}

                    {% include 'core/perm_denied.html' %}

                {% endif %}

        </div>
    </div>

    </div>
</section>

{% endblock %}