{% extends 'core/base.html' %} {% load staticfiles %} {% load activity_tags %} {% block content %}
<br />
<br />
<br />
<br />
<br />

<section class="bg-gray-light">
    <div class="container">

        <h2 class="text-center"> {{ group }}</h2>
        <hr class="primary"> 
        
        {% if posts %} 
            {% for post in posts %}

            <div class="card text-center">
                <div class="card-header">
                    {{ post.title }}
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.text }}.</p>

                </div>
                <div class="card-footer text-muted">
                    {{ post.author }}
                </div>
            </div>

            <hr class="primary"> {% endfor %}
        {% else %}

            <div class="text-center">
                {% include 'core/perm_denied.html' %}  
                <a href="{% url 'follow' pk=group.pk %}" class="btn btn-primary">Follow</a>
            </div>

        {% endif %}

    </div>
</section>

{% endblock %}