{% extends 'core/base.html' %} {% load staticfiles %} {% block content %}
<br />
<br />
<br />
<br />
<br />

<section class="bg-gray-light">
    <div class="container">


        {% if post %}
        <div class="card text-center">
            <div class="card-header">
                {{ post.title }}
            </div>
            <div class="card-block">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.text }}</p>

            </div>
            <div class="card-footer text-muted">
                {{ post.author }}
            </div>
        </div>
        <hr class="primary"> {% else %}
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body text-center"> <p>You are not authorized to view this page!</p>
                </div>
            </div>
        </div>

        {% endif %}
    </div>

    </div>
</section>

{% endblock %}